{% extends 'base.html' %}
{% load static %}

{% block title %}
    Awards
{% endblock title %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'dgc_app:index' %}">Home</a></li>
        <li>Awards</li>
        </ol>
    </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="awardcontainer" style="">
        <h1 class="animated-heading">ICEF Agency Award - Diamond Giant Consulting</h1>
        
        <div class="award animated-award">
            <img src="{% static 'assets/img/awards/ICEFCERTIFICATE2024.jpg' %}" alt="ICEF Agency Award" id="award-image">
            <p>We are proud to announce that Diamond Giant Consulting has been awarded the prestigious ICEF Agency Award!</p>
            <p>This recognition is a testament to our commitment to excellence in education and international student recruitment.</p>
            <p>Thank you to all our clients, partners, and team members for their dedication and support.</p>
        </div>
        
        <div id="iasBadge" class="animated-badge" data-account-id="2820"></div>
    </div>
<script>
    // JavaScript for making the image responsive
    window.onload = function() {
        var img = document.getElementById('award-image');
        var containerWidth = document.querySelector('.awardcontainer').offsetWidth;
        var imgWidth = img.offsetWidth;
        if (imgWidth > containerWidth) {
            img.style.width = '100%';
            img.style.height = 'auto';
        }
    };
</script>

<script async defer crossorigin="anonymous" src="https://www-cdn.icef.com/scripts/iasbadgeid.js"></script>
{% endblock content %}
     