{% extends 'base.html' %}
{% load static %}
{% block title %}
    Pange not found
{% endblock title %}

{% block content %}
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <div class="not-anim">
        <dotlottie-player src="https://lottie.host/2716b760-1a60-4013-80a1-89578dc3e707/wyJBO1ywiK.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
{% endblock content %}
    